*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    position: relative;
    /* width: 100%; */
    height: 100vh;
    background-color: hsl(185, 75%, 39%);
    background-image: url(./images/bg-pattern-top.svg), url(./images/bg-pattern-bottom.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: top -30rem left -30rem, bottom -30rem right -27rem;


    font-family: 'Kumbh Sans';
}

img{
    display: block;
}

.container{
    max-width: 1440px;
    width: 100%;
    padding: 0 15px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.card{
    position: relative;
    width: 350px;
    height: 374px;
    background: #FFFFFF;
    box-shadow: 0px 50px 100px -20px rgba(8, 70, 94, 0.504835);
    border-radius: 15px;
}

/* header of card */

header{
    width: 100%;
    height: 140px;
    background-color:  hsl(185, 75%, 39%);;
}

header img{
    width: 100%;
    object-fit: contain;
    border-radius: 10px ;
}

main{
    width: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
}

.oval{
    position: absolute;
    left: calc(50% - 96px/2);
    top: calc(50% - 96px/2 - 47px);
    object-fit: contain;
}

.info{
    display: flex;
    flex-direction: column;
    gap: 13px;
    text-align: center;
    margin-top: 5rem;
}

.name{
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #2E3349;
}

.number{
    color: #6B7082;
    font-weight: 400;
    font-size: 18px;
}

.city{
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #6B7082;
}

.line::before{
    content:" ";
    display: block;
    height: 2px;
    width: 100%;
    position: absolute;
    top: 79%;
    left: 0;
    background: #E8E9EC;
}


.social{
    margin-top: 2.5rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly 
    /* gap: 58px; */
}

.social-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.numbers{
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #2E3349;
    text-transform: uppercase;
}

.text{
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 1.5px;
    color: #6B7082;
}

/* background oval images */

.bg-img{
    position: relative;
    z-index: 2;
    background: url(./images/oval2.png) top left no-repeat, 
                url(./images/oval2.png) bottom left no-repeat;
}

.bg-img::before{
    content: '';
    position: absolute;
    z-index: -1; /* push it to the background */
    top: 12px; /* position it off the top background */
    right: 0;
    bottom: 12px; /* position it off the bottom background */
    left: 0;
    background: url(./images/oval2.png) top left repeat-y;
}